@media all and (max-width: 1024px) {
	.burger {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 0;
		margin-top: 80px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		z-index: 5;
	}

	#burger-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#burger-toggle:checked ~ .menu li {
		border-bottom: 1px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.menu li {
		display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #03558b;
	}

	.menu .btn-menu, .menu .btn-menu.lg {
		padding: 2px 10px;
	}

	.menu .btn-menu.lg {
		margin: 0;
	}

	#top {
		background-image: url(../images/header/top-tablet.png);
	}

	.jobs,
	.companies,
	footer .row {
		flex-wrap: wrap;
	}

	.job,
	.company {
		width: 40%;
	}

	.company {
		text-align: center;
	}
}

@media all and (max-width: 670px) {
	.header {
		height: 50px;
	}

	.header .logo img {
		width: 110px;
	}

	#burger-toggle:checked ~ .menu li {
		border-bottom-width: .2px;
	}

	.menu {
		margin-top: 50px;
	}

	.menu li {
		font-size: .7rem;
	}

	.menu .btn-menu {
		-webkit-text-stroke-width: .5px;
	}

	.menu .btn-menu.lg {
		margin: 0;
		padding: 0 2px;
		border-width: .2px;
	}

	.menu .mode .check {
		width: 2rem;
		height: 1rem;
	}

	.menu .mode .check::before, .menu .mode .check::after {
		width: .8rem;
		height: .8rem;
		top: 2px;
		left: 2px;
	}

	#top {
		-webkit-text-stroke-width: 1px;
		background-image: url(../images/header/top-mobile.png);
		margin-top: 50px;
	}

	#top .title span {
		font-size: 3rem;
	}

	#top p {
		font-size: 1rem;
	}

	.btn-signup {
		font-size: .7rem;
		padding: 10px 5px;
		-webkit-text-stroke-width: .5px;
	}

	.jobs,
	.companies,
	footer .row {
		flex-direction: column;
	}

	.job,
	.company {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.heading h3 {
		font-size: 1.6rem;
	}
}