/* Global */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=Kanit&family=Oswald&display=swap');

:root {
	--transition: 0.3s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color ease-in .5s,
	border ease-in .5s,
	-webkit-text-stroke ease-in .5s,
	text-shadow ease-in .5s;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Oswald', cursive;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
}

.heading h3, footer h4 {
	font-family: Kanit, cursive;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #003152;
	color: #fff;
	height: 80px;
	width: 100%;
	padding: 1em;
}

.header .logo img {
	width: 220px;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu>li {
	padding: 25px 0;
	overflow: hidden;
	font-size: 25px;
}

.menu .btn-menu {
	color: #fff;
	font-family: 'Fredoka One', cursive;
	-webkit-text-stroke: 1px #000;
	cursor: pointer;
	padding: 20px;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color .3s ease-in-out;
}

.menu .btn-menu:hover {
	background-color: #03558b;
}

.menu .btn-menu.lg {
	background-color: #3b5998;
	border: 2px solid #fff;
	padding: 12px 20px;
	margin-left: 10px;
}

.menu .btn-menu.lg:hover {
	background-color: #6385ce;
}

.menu .mode input {
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}

.menu .mode .check {
	position: relative;
	display: block;
	width: 4rem;
	height: 2rem;
	background-color: #3b5998;
	border-radius: 20px;
	overflow: hidden;
	transition: ease-in .5s;
}

.menu .mode input:checked ~ .check {
	background-color: #007eff;
}

.menu .mode .check::before, .menu .mode .check::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	transition: .5s;
}

.menu .mode .check::before {
	background-color: #fff;
}

.menu .mode .check::after {
	background-color: #092c3e;
	transform: translateX(60px);
}

.menu .mode input:checked ~ .check::before {
	transform: translateX(-60px);
}

.menu .mode input:checked ~ .check::after {
	transform: translateX(0px);
}

.burger {
	display: none;
	height: 100px;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#burger-toggle {
	display: none;
}

.burger-btn,
.burger-btn::before,
.burger-btn::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 2px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.burger-btn::before {
	content: "";
	margin-top: -8px;
}

.burger-btn::after {
	content: "";
	margin-top: 8px;
}

#burger-toggle:checked+.burger .burger-btn::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#burger-toggle:checked+.burger .burger-btn {
	background: rgba(255, 255, 255, 0);
}

#burger-toggle:checked+.burger .burger-btn::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

/* top */
#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	background: url(../images/header/top.png) no-repeat center fixed;
	font-family: 'Fredoka One', cursive;
	text-align: center;
	margin-top: 80px;
	color: #fff;
	-webkit-text-stroke: 2px #000;
}

#top .title {
	position: relative;
}

#top .title span {
	position: relative;
	display: inline-block;
	font-size: 8rem;
	font-weight: bold;
	margin: 0 -3px;
	animation: flip 2s infinite;
	animation-delay: calc(.2s * var(--i));
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg);
		color: #fff;
	}

	80%,
	100% {
		color: #003152;
	}
}

#top p {
	font-size: 3em;
}

.btn-signup {
	font-size: 1.4rem;
	padding: 20px 15px;
	background-color: #03558b;
	border-radius: 5px;
	-webkit-text-stroke: 1px #000;
	display: inline-block;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color .3s;
}

.btn-signup:hover {
	background-color: #003152;
}

/* edit by hilman start - revisi *peace */
/* job-wrapper x company-wrapper */

#job-wrapper,
#company-wrapper {
	margin-top: -15px;
	padding-top: 10px;
	margin-bottom: 20em;
}

.main {
	padding: 0 15px;
	margin-top: 10em;
}

.heading h3 {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 8px;
}

.heading hr {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	border: 2px solid #000;
	border-radius: 5px;
	width: 0;
	visibility: hidden;
	transition: width .3s ease-in-out, visibility .3s;
}

.active .heading hr {
	width: 200px;
	visibility: visible;
}

.jobs,
.companies {
	display: flex;
}

.job,
.company {
	flex: auto;
}

/* job start */

.job {
	width: 24%;
	min-height: 280px;
	margin: 5px;
	padding: 15px;
	border: 2px solid rgb(110, 110, 110);
	border-radius: 10px;
	position: relative;
	transition: box-shadow .5s ease-out, border-color .5s;
	cursor: pointer;
}

.job:hover {
	box-shadow: 0px 10px 20px #003152;
	border-color: #03558b;
}

.job .top {
	margin-top: 5px;
	margin-bottom: 1em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.job .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
}

.job img {
	max-height: 80px;
	max-width: 160px;
}

.job .top p {
	padding-left: 15px;
}

.job .top p.link {
	font-weight: 700;
	color: #003152;
}

.job .description {
	position: absolute;
	top: 70%;
	transform: translate(0, -70%);
	font-weight: bold;
	margin-bottom: 1em;
}

.job .extra {
	color: #6e6e6e;
	position: absolute;
	bottom: 0;
	margin-bottom: 1em;
}

/* Job ends */

/* company start */

.company {
	width: 24%;
	margin: 5px;
}

.company .logo {
	display: flex;
	height: 125px;
}

.company img {
	margin: auto;
	max-height: 120px;
	max-width: 250px;
}

.company h3 {
	text-align: center;
}


/* company ends */


/* edit by hilman end*/
/* footer */
footer {
	position: relative;
	background-color: #003152;
	padding: 1em;
	margin-top: 10px;
	color: #fff;
}

footer hr {
	margin-bottom: 1em;
}

footer .row {
	display: flex;
	margin-bottom: 1em;
}

footer .column {
	flex: auto;
	text-align: center;
	padding: 1em;
}

footer .divider {
	border-left: 2px solid #fff;
}

footer h4 {
	font-weight: 700;
	margin-bottom: 8px;
}

footer ul a {
	text-decoration: none;
	color: #fff;
}

footer ul a:hover {
	text-decoration: underline;
}

footer ul li {
	list-style-type: none;
	padding-bottom: 8px;
}

footer .copy {
	text-align: center;
}
