@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
}

header {
	height: 80px;
	background-color: #003152;
	color: #fff;
} 

footer {
	height: 80px;
	background-color: #003152;
	color: #fff;
}

header .logo, footer .left {
	float: left;
	padding: 12px;
}

header .logo img {
	width: 220px;
}

header .menu {
	float: left;
	margin: 5px 0 0 20px;
	align-items: center;
	position: relative;
	font-family: 'Fredoka One', cursive;
	-webkit-text-stroke: 1px #000;
	cursor: pointer; 
} 

.btn-menu:hover {
	background-color: #03558b;
}

#btn-lg a {
    font-size: 25px;
	background-color: #3b5998;
    color: white;
    border: white 2px solid;
    border-radius: 4px;
    padding: 12px 20px;
    margin-top: 10px;
	-webkit-text-stroke: 1px #000;
}

a {
	text-decoration: none;
}


#btn-lg:hover {
	background-color: #6385ce;
}

.btn-signup {
	font-size: 23px;
	padding: 20px 15px;
	color: white;
	background-color: #03558b;
	border-radius: 5px;
	display: inline-block;
	-webkit-text-stroke: 1px #000;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	margin-top: 10px;
}

.btn-signup:hover {
	background-color: #003152;
}

footer .right {
	float: right;
}

header .menu li {
	font-size: 25px;
	color: white
}

header .menu li, footer .right li {
	list-style-type: none;
	float: left;
	padding: 20px;
}

footer {
	border-top: 2px solid #5d5e5e;
}

#top {
	min-height: 42vh;
	background-image: url('../../latar4.png');
	opacity: 0.8;
	font-family: 'Fredoka One', cursive;
	text-align: center;
	padding-top: 180px;
	padding-bottom: 100px;
	color: #fff;
	-webkit-text-stroke: 2px #000;
}

#top h1 {
	font-size: 8em;
}

#top p {
	font-size: 3em;
}

#loker, #perusahaan {
	margin: 10em 8em;
	min-height: 50vh;
}

#loker h3, #perusahaan h3 {
	margin-bottom: 18px;
	font-size: 32px;
	padding-bottom: 5px;
	border-bottom: 2px solid #5d5e5e;
}

.job {
	position: relative;
	float: left;
	width: 20%;
	height: 12em;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.job .badan {
	margin: 10px 0;
	font-weight: bold;
}

.job .kaki {
	position: absolute;
	bottom: 8px;
	color: #5d5e5e;
}

.job img {
	width: 100px;
}

.list img {
	width: 100px;
	margin: 5px;
	padding: 5px;
}
